<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="text-align: left;">DIPLOM - Интернет-магазин</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #f8f9fa;
            padding: 10px 20px;
            z-index: 1000; /* Чтобы шапка была выше других элементов */
        }
    </style>
</head>
<body>

    <html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar-nav {
            display: flex;
            justify-content: center; /* Центрируем элементы */
            width: 100%; /* Задаем ширину 100% */
        }
    </style>
    <title>Центрированное меню</title>
</head>
<body>

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="#">DIPLOM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/katalog">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Корзина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Контакты</a>
                </li>
                <li class="nav-item">
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('search_products') }}" method="post">
    <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="query">
    <input type="hidden" name="template_name" value="katalog.html">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
</form>
</li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <link rel="stylesheet" href="static/style.css">
                    {% if 'username' in session %}
                    <p>Добро пожаловать, {{ session['username'] }}!</p>
                    <button class="btn btn-primary" onclick="location.href = '{{ url_for('logout') }}'">Выйти</button>
                    {% else %}
                    <button class="btn btn-primary" onclick="location.href = '{{ url_for('login') }}'">Вход</button>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
    <link rel="stylesheet" href="static/style.css">
    <main>
        <section class="hero">
            <h1>Добро пожаловать в Osvencim Shop!</h1>
            <p>Здесь вы найдете все необходимое.</p>
        </section>

        <section class="products">
    <h2>Рекомендации для вас</h2>

    <div class="products-container">
        <section class="filters">
            <h3>Фильтр</h3>
            <form id="filter-form" action="{{ url_for('filter_products') }}" method="post">
                <div class="filter-group">
                    <label for="price-from">Цена от:</label>
                    <input type="number" id="price-from" name="price_from" placeholder="0" min="0">
                </div>
                <div class="filter-group">
                    <label for="price-to">Цена до:</label>
                    <input type="number" id="price-to" name="price_to" placeholder="10000" min="0">
                </div>
                <div class="filter-group">
                    <label for="category">Категория:</label>
                    <select id="category" name="category">
                        <option value="">Все</option>
                        <option value="одежда">Одежда</option>
                        <option value="аксессуары">Аксессуары</option>
                        <option value="Обувь">Обувь</option>
                        <option value="Детям">Детям</option>
                        <option value="Красота">Красота</option>
                        <option value="Дом">Дом</option>
                    </select>
                </div>
                <input type="hidden" name="template_name" value="katalog.html">
                <button class="btn btn-primary" type="submit" name="action" value="apply">Применить фильтры</button>
                <button class="btn btn-primary" type="button" onclick="location.href='{{ url_for('home') }}'">Сбросить фильтры</button>
            </form>
        </section>

        <div class="product-grid-container">
            {% if товары %}
                {% for товар in товары %}
                    <div class="product-card">
                        <div class="product-image">
                            <img src="{{ товар.image_url }}" alt="{{ товар.Название }}">
                        </div>
                        <div class="product-info">
                            <a href="{{ url_for('product', tovar_id=товар.id) }}" class="product-title-link">
                                <h3 class="product-title">{{ товар.Название }}</h3>
                            </a>
                            <p class="product-description">{{ товар.Описание }}</p>
                            <div class="product-price">Цена: {{ товар.Цена }} руб.</div>
                            <form action="{{ url_for('add_to_cart', tovar_id=товар.id) }}" method="post">
                                <button type="submit" class="button-buy">В корзину</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нет доступных товаров.</p>
            {% endif %}
        </div>
    </div>
</section>


    </main>

    <footer class="footer bg-gray text-light">
        <div class="container text-center">
            &copy;RNDM CREW MELON MUSIC 2025 - DIPLOM. Оплачивая услуги, вы принимаете оферту. Все права защищены. <a href="https://vk.com" target="_blank" rel="noopener noreferrer" class="styles-module-root-EEwdX styles-module-root_size_m-Joz68 styles-module-root_preset_primary-tQWs8 styles-module-root_fullWidth-jnoCY styles-module-root_shape_circle-BEfh4 styles-module-root_link-_cDuJ"><span class="styles-module-wrapper-_6mED"><span class="styles-module-text-G2ghF styles-module-text_size_m-DUDcO"><img src="https://www.avito.st/dstatic/build/assets/../assets/234b3130bd52ead4.svg" alt="Авито ВКонтакте" class="styles-module-root-PwWrd" style="width:24px;height:24px"></span></span></a>  <a href="https://t.me/avito" target="_blank" rel="noopener noreferrer" class="styles-module-root-EEwdX styles-module-root_size_m-Joz68 styles-module-root_preset_primary-tQWs8 styles-module-root_fullWidth-jnoCY styles-module-root_link-_cDuJ">
  <span class="styles-module-wrapper-_6mED">
    <span class="styles-module-text-G2ghF styles-module-text_size_m-DUDcO">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" alt="Авито Телеграм" class="styles-module-root-PwWrd no-circle" style="width:24px;height:24px">
    </span>
  </span>
</a>

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
